<DOCTYPE html>
<html>
<head>
    <title>Rango - {% block title %}How to tango with Django{% endblock %}</title>
</head>
<body>
    <div>
        {% block body_block %}{% endblock %}
    </div>

    <hr/>

    <div>   
        <ul>
            {% if user.is_authenticated %}
                <li><a href="/rango/logout">Logout</a> </li>
                <li><a href="/rango/add_category/">Add a new category</a></li>
            {% else %}
                <li><a href="/rango/register/">Register here</a> </li>
                <li><a href="/rango/login/">Login</a> </li>
            {% endif %}
                <li><a href="/rango/about/">About</a>  </li>
                <li><a href="/rango/">Home</a></li>
        </ul>
    </div> <!-- menu div --> 
</body>
</html>