{% extends 'rango/base.html' %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Show categories</h1>
    <br>
    <div class="container">
        <h2>{{ category.name }}</h2>
        <div>
            <b id="like_count">{{ category.likes }}</b> people likes this category
            {% if user.is_authenticated %}
                <button id="likes" data-catid="{{ category.id }}" class="btn btn-mini btn-primary" type="button">Like</button>
            {% endif %}
        </div>
        <br>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="/rango/goto/?page_id={{ page.pk }}">{{ page.title }}</a> - <em>({{ page.views }} views)</em> </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        <a href="/rango/category/{{ category_name_url }}/add_page"><button class="btn btn-primary">Add a page</button></a>
    </div> <!-- container -->
</div> <!-- hero unit -->

{% include 'rango/search.html' %}
{% endblock %}
